* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: 'Spectral', serif;
}

:root {
  --blue-ocean: #5EEAD4;
  --white:#EBF1FB;
  --black: #0B0C0E;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg) no-repeat center -3rem/ cover fixed;
  height: 100vh;
  color: var(--white);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4.5rem;
}

main > div h1 {
  font-family: 'Beth Ellen', cursive; 
  font-size: 4rem;
  margin-bottom: 0.25rem;
}

main > div h1 span {
  color: var(--blue-ocean);
  font-family: 'Beth Ellen', cursive; 
}

main > div p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn {
  width: 150px;
  height: 60px;
  background: transparent;
  font-size: 1.5rem;
  line-height: 24px;
  margin-left: 1rem;
}

.btnBlue {
  border-radius: 8px;
  background-color: var(--blue-ocean);
}

a {
  color: var(--white);
  font-weight: 600;
}

main div:nth-child(2) button:nth-child(2) a {
  color: var(--black);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  body {
    background-position: center center;
  }
}