* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Cinzel', serif; 
}

:root {
  --white: #FFFFFF;
  --pink: #DB2777;
  --gray-200: #2C2E2F;
  --gray-900: #151718;
}

body {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 115% 280%;
  background-position-x: center;
  background-position-y: -12rem;
  background-attachment: fixed;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 4rem;
}

main div > h1 {
  color: var(--gray-900);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0.250rem;
}

main div > h1 span {
  color: var(--pink);
}

main div > p {
  font-family: 'Inter', sans-serif;
  color: var(--gray-200);
  font-size: 1.25rem;
}

main div:nth-child(2) button > a {
  color: var(--gray-900);
}

main div:nth-child(2) button:nth-child(2) > a {
  color: var(--white);
}

.btn {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  font-weight: bold;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-left: 0.25;
}

.pinkColor {
  background-color: var(--pink);
}